.add-post-component{
  .card{
    border-radius: 10px;
  }
  .card-header{
    font-size: 18px;
  }
  .card-body{
    .user-profile{
      width: 50px;
      height: 50px;
      border: 1px solid #d7cfcf;
      z-index: 10 ;
      border-radius: 30px;
    }
    .fa-user{
      color: #746e6e;
      left: 10px;
    }

    .description{
      padding-left: 80px;
    }
  }
}
