.header-component{
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: transparent;
  z-index: 999;
  box-shadow:  0px 15px 22px -15px #ccc;
  .logo{
    img{
      height: 55px;
      width: 65px;
    }
  }
}
