*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

body {
  background-image: url(./assets/trianglify-lowres.png);
  background-size: cover;
  background-attachment: fixed;
}
